* {
  margin: 0;
  padding: 0;
  font-family: lato; }

a {
  text-decoration: none; }

p {
  margin-bottom: 10px;
  font-weight: lighter; }

.btn {
  padding: 10px 15px;
  background-color: #292929;
  color: #ffc600;
  border-radius: 5px;
  height: auto;
  font-weight: lighter; }

#hero {
  background-image: linear-gradient(to top, #289CB7 0%, #31BAD9 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 30px;
  position: relative; }
  #hero h1 {
    margin-bottom: 20px;
    line-height: 1em; }
  #hero p {
    margin-bottom: 30px; }
  #hero nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px; }
    #hero nav .menu {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px 0; }
      #hero nav .menu a {
        color: #fff;
        font-weight: lighter;
        margin: 0 20px; }
    #hero nav .login {
      align-items: center; }
  #hero .heroContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    color: #fff; }
    #hero .heroContent .heroText {
      max-width: 50%;
      flex: 1;
      height: auto;
      padding: 30px 20px; }
      #hero .heroContent .heroText h1 {
        font-size: 4em; }
    #hero .heroContent .heroImg {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      max-width: 40%; }
      #hero .heroContent .heroImg img {
        width: 40%;
        height: auto; }

#aboutUs {
  margin: 150px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  #aboutUs .aboutUsContent {
    max-width: 45%; }
    #aboutUs .aboutUsContent h2 {
      font-size: 2.5em;
      margin-bottom: 20px;
      line-height: 1em; }

#services {
  background-color: #f6f6f6;
  padding: 50px; }
  #services h2 {
    font-size: 1.5em; }
  #services .servContent {
    margin: 30px 0;
    display: flex;
    justify-content: space-around; }
    #services .servContent .servBox {
      flex: 1;
      padding: 50px 30px;
      background-color: #fff;
      margin: 10px;
      box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      justify-content: space-around;
      text-align: center; }
      #services .servContent .servBox i {
        margin: 20px 0;
        color: #289CB7; }

#notifications {
  background-color: #292929;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #notifications .notifMsg {
    margin: 100px 40px;
    flex: 1;
    justify-content: center; }
    #notifications .notifMsg h3 {
      font-size: 2.5em;
      color: #289CB7;
      margin-bottom: 20px;
      line-height: 1em; }
    #notifications .notifMsg i {
      color: #ffc600; }
  #notifications .notifImg {
    display: flex;
    flex: 1;
    justify-content: center;
    opacity: 0.3; }

#suscribe {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px; }
  #suscribe .suscribeMsg {
    flex-direction: column; }
  #suscribe .suscribeBox input {
    padding: 10px 5px;
    width: 300px;
    margin: 0 15px; }

#contactUs {
  background-color: #289CB7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 30px; }
  #contactUs .trenApp {
    flex: 1; }
  #contactUs .menu {
    flex: 1;
    text-align: center; }
    #contactUs .menu a {
      color: #fff; }
  #contactUs .social {
    flex: 1;
    text-align: center;
    flex-direction: column;
    justify-content: space-around; }
    #contactUs .social h4 {
      margin-bottom: 20px; }
    #contactUs .social .socialIcons {
      display: flex;
      justify-content: space-around; }

#credits {
  background-color: #292929;
  color: #fff;
  padding: 10px 20px;
  text-align: right; }
  #credits p {
    margin: 0; }
  #credits img {
    width: 5%;
    height: auto;
    margin-left: 5px;
    margin-top: 5px; }
  #credits a {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
